#layout {
  position: relative;
  max-height: 100vh;
  display: grid;
  grid-template-rows: minmax(30px, 50px) 1fr;

  & #router-view {
    display: flex;
    position: relative;
    max-height: 100vh;
  }
}
