@import "../../../../scss/variables";

.list-custom {
  & .list-custom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: $list-border;

    & .left {
      display: flex;
      align-items: center;

      & .items {
        @extend .left;
      }
    }

    & .actions {
      @extend .left;
    }
  }
}
