@import "../../../scss/variables";

#list {
  max-height: calc(100vh - 54px - 7rem); // - header - navigation header
  border: $list-border;
}

@media screen and (min-width: 512px) {
  #list {
    max-height: calc(100vh - 54px - 5.19rem); // - header - navigation header
  }
}
