@import "../../../scss/variables";

$focus-btn: (
  box-shadow: 0 0 3px 2px
    adjust-color(
      $color: $black,
      $alpha: -0.5,
    ),
);

#button {
  outline: none;
  border: none;
  padding: 0 0.7rem;
  margin: 0 0.2rem;
  background-color: $primary;
  color: $white;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:focus {
    box-shadow: 0 0 3px 2px adjust-color($color: $black, $alpha: -0.5);
  }

  &.round {
    border-radius: 50%;
  }

  &.danger {
    background-color: $danger;
  }

  &.success {
    background-color: $success;
  }

  &.flat {
    @extend .round;
    margin: 0 0.5rem;
    padding: 0;
    background: none;
    color: $primary;

    &.white {
      color: $white;
    }

    &.danger {
      color: $danger;
    }

    &.success {
      color: $success;
    }

    &:focus {
      @extend .flat;
      box-shadow: none;
      text-shadow: 0 0 5px adjust-color($color: $black, $alpha: -0.5);
    }

    & i {
      font-size: 1.3rem;
    }
  }

  & i {
    font-size: 1rem;
  }
}
