@import "../../../../../scss/variables";

#list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: $list-border;

  & .caption {
    font-size: 0.8rem;
    color: $text-gray;
  }

  & .text {
  }

  & .item-1 {
    display: flex;
    flex-direction: column;
  }
}
