@import "../../../../scss/variables";

#page {
  position: relative;
  display: grid;
  flex: 2;

  & .container {
    position: relative;
    display: grid;
    margin: 1rem;
  }

  & .page {
    position: relative;
    display: grid;

    &.page-center {
      place-items: center;
    }
  }
}
