@import "../../../../../scss/variables";

$background-color: rgb(206, 184, 184);

ul {
  position: relative;
  // height: calc(100vh - 54px - 33px); // - header - navigation header
  height: calc(100vh - 37px);
  overflow: auto;

  & li {
    padding: 0.3rem 0;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $primary;
    border-radius: 50px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 50px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media screen and (min-width: 512px) {
  ul {
    height: calc(100vh - 54px - 33px); // - header - navigation header
  }
}
