@import "../../../../../scss/variables";

$background-color: rgb(206, 184, 184);

ul {
  position: relative;
  // height: calc(100vh - 54px - 33px); // - header - navigation header
  height: calc(100vh - 37px);
  overflow: auto;

  & li {
    padding: 0.3rem 0;
  }
}

@media screen and (min-width: 512px) {
  ul {
    height: calc(100vh - 54px - 33px); // - header - navigation header
  }
}
