// COLORS
$primary: rgb(0, 133, 167);
$secondary: rgb(230, 200, 0);

$white: #ffffff;
$black: #000000;

$shadow-color: rgba(0, 0, 0, 0.3);

$drawer-back-color-sm: rgba(0, 0, 0, 0.6);
$drawer-back-color-md: $primary;
