@import "../../../../scss/variables";

#drawer {
  position: fixed;
  flex: 1;
  min-width: 220px;
  max-width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $drawer-back-color-sm;
  color: $white;
  z-index: 1000;

  & .container {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 512px) {
  #drawer {
    position: relative;
    max-width: 300px;
    z-index: 0;
    background-color: $drawer-back-color-md;
  }
}
